@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
html{
    margin: 0;
    padding: 0;
    background-color: #F7FDF8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    padding: 10px 50px;
    font-family: 'Montserrat';
    background-color: white;
    filter: drop-shadow(0px 4px 47px rgba(0, 0, 0, 0.25));
    width: 60%;
    height: 80vh;
    position: absolute;
}
header div ul{
    display: inline-block;
    vertical-align: middle;
}
header div img{
    width: 60px;
    padding: 15px;
    height: auto;
}
header div h1{
    color: #375C3A;
}
header div h1 span{
    color: #639562;
}
main ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.esquerda p{
    padding: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #79BD7A;
}
.esquerda span{
    color: black;
}
.esquerda form{
    width: 90%;
}
.esquerda label{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    
}
.esquerda input{
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    border: 0;
    font-size: 25px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

.primaria a{
    padding: 8px 30px;
    background: rgb(121, 189, 122);
    border-radius: 20px;
    font-size: 25px;
    margin: 20px auto 0px;
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 50px;
    color: black;
    text-decoration: none;
}
.esquerda a span{
    margin: auto;
}
.esquerda a img{
    width: 30px;
    margin: auto 5px;
}
.secundaria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
}
.secundaria a{  
    margin-top: 30px;
    margin-left: 25px;
    font-size: 19px;
    text-decoration: none;
}
.direita img{
    width: 90%;
}
